<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/pure.css">
    <link rel="stylesheet" href="../assets/css/side-menu pure.css" />
    <title>Side-menu</title>
</head>

<body>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">Node.js</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/">Home</a>
                </li>

                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/about">About</a>
                </li>

                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/contact">Contact</a>
                </li>

                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/nodejs">Node.js & REST</a>
                </li>

                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/express">Express</a>
                </li>

                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/deploy">Deployment</a>
                </li>

                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/expimp">Export vs. import</a>
                </li>

                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="/ssrcsr">SSR vs. CSR</a>
                </li>
            </ul>
        </div>
    </div>
</body>